VBox, HBox, FlowPane, BorderPane {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

FlowPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: center;
}

#coverImage {
    -fx-preserve-ratio: true;
    -fx-smooth: true;
    
    -fx-fit-width: 28vw;
    -fx-fit-height: 60vh;
}

.cover-card {
    -fx-background-color: #FFF;
    -fx-padding: 20;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 2);
    -fx-max-width: 80vw;
}

#description {
    -fx-max-width: 70vw;
    -fx-padding: 15;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.10), 8, 0, 0, 2);
}
